# Тестовые данные
_IGNORE/

# Правила (вытаскивать из игнора на момент разработки)
# QWEN.md

# Библиотеки (пока в игноре, потом когда надо вытащу)
# Libs/

# Временные файлы
*.tmp
*.bak
*.log

# Файлы редакторов
.vscode/
.idea/
.zed/
*.swp
*.swo
*~

# Системные файлы
.DS_Store
Thumbs.db
